body, html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    cursor: url('https://storage.googleapis.com/api-project-992432653598.appspot.com/logo/cursor-sm.png'), auto;
    position:relative;
}

button:focus, button:hover {
  cursor: url('https://storage.googleapis.com/api-project-992432653598.appspot.com/logo/cursor-sm.png'), auto;
}

p {
  margin: 0;
}

.app {
    flex: 1;
    padding-bottom: 65px;
}

div[role=presentation] {
    background-color: rgba(170, 68, 170, 0.8);
}

div[role=presentation].MuiPopover-root {
    background-color: rgba(0,0,0,0);
}
